body{
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    line-height: 43px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color:#454545;
}
li{
    padding-left: 30px;
}
nav ul{
    list-style-type:none;;
    display: flex;
    justify-content: space-between;
}
nav ul li a{

    text-decoration: none;
    color: #D4D4D4;;
}
.rem p{
    line-height: 44px;
    background-color: #1D1D1F;
    color: #ffffff;
    text-align: center;
    font-size: 15.2px;
}
.rem p span a{
    color: #0071e3;
}
.content{
    position: relative;
}
.content img{
    width: 100%;
    height: 700px;
}
.text-1{
    position: absolute;
    top: 40px; /* Adjust distance from the top */
    left: 50%;
    font-weight: 600 ;
    transform: translateX(-50%); /* Center horizontally */
    color: white; /* Text color */
    font-size: 53px; /* Adjust font size */
    text-shadow: 1px 1px 2px black;
}
.text-2{
    position: absolute;
    top: 100px; /* Adjust distance from the top */
    left: 50%;
    font-weight: 400 ;
    transform: translateX(-50%); /* Center horizontally */
    color: white; /* Text color */
    font-size: 25px; /* Adjust font size */
    text-shadow: 1px 1px 2px black;
}
.btn{
    position: absolute;
    top: 550px; /* Adjust distance from the top */
    left: 50%;
    font-weight: 400 ;
    transform: translateX(-50%); /* Center horizontally */
    color: white; /* Text color */
    font-size: 29px; /* Adjust font size */
    text-shadow: 1px 1px 2px black;

}
button{
    border-color: #0077ED;
    background-color: #0077ED;
    color: white;
    font-size: 18px;
    padding: 8px;
    border-radius: 25px;
}
footer{
    margin:1% 18%;
    text-align: inherit;
    width: 62%;
    display: flex;
    justify-content: space-between;

}
footer p{
    font-weight: 800px;
    padding: 5px 0px;
}

footer a{
    font-size: 14px;
    font-weight: 400;
    padding: 5px 0px;
    color: rgba(0,0,0,0.56); 
    font-size: 1em;
    text-decoration: none;
}
footer a:hover{
    font-size: 14px;
    font-weight: 400;
    color: rgba(0,0,0,0.56);
    text-decoration:underline;
    font-size: 1em;
}
#l{
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.56);
    margin:3% 18%;
}
#para{
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.56);
    margin:3% 18%;
}